.installation-oms_se-component-container {
  margin-top: 25px;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
}

.installation-oms_se-component-title {
  margin-bottom: 30px;
}

.installation-oms_se-component-form {
  display: flex;
  flex-wrap: wrap;
}

.installation-oms_se-component-form-input {
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.installation-oms_se-component-form-input-title {
  color: black;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.installation-oms_se-component-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(
    100% - 200px
  ); /* Adjust width to leave space for the button column */
}

.installation-oms_se-component-form-input input {
  height: 45px;
  width: 100%;
  color: black;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
