.dropdown-container {
  margin-top: 10px;
  width: 100%;
  user-select: none;
  position: relative;
}

.caret {
  transition: all 0.2s;
  position: relative;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.caret.open {
  transform: rotate(180deg); /* Rotates 90 degrees to point downwards */
}

.dropdown-btn {
  padding: 15px 20px;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border: 2px solid transparent;
  border-radius: 10px;
}

.dropdown-content {
  position: absolute;
  top: 110%;
  padding: 15px;
  width: 100%;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(15, 5, 145, 0.06);
  font-weight: 500;
  border: 2px solid transparent;
  border-radius: 10px;
}

.dropdown-item {
  color: #333;
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-item:hover {
  background: #f4f4f4;
}
