/* General container styles */
.configuration-page-container {
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
  outline: none; /* Remove default outline */
  border: none; /* Remove default border */
  text-transform: capitalize; /* Capitalize text */
  transition: 0.2s linear; /* Smooth transitions for changes */
  background: linear-gradient(
    45deg,
    blueviolet,
    lightgreen
  ); /* Gradient background */
  padding: 15px 9%; /* Padding for the container */
  height: 100vh; /* Full viewport height */
}

/* Box container for the configuration form */
.configuration-page-box-container {
  background: #fff; /* White background for form */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the box */
  overflow: auto; /* Hide overflowing content */
  margin-bottom: 30px; /* Space below the box */
}

/* Message styles */
.success-message,
.error-message {
  font-size: 20px; /* Shared font size */
  font-weight: 500; /* Shared font weight */
}
.success-message {
  color: green; /* Success message color */
}
.error-message {
  color: red; /* Error message color */
}

/* Title styling */
.configuration-page-box-title {
  margin-bottom: 30px; /* Space below title */
}

/* Form container */
.configuration-page-box-form {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack items vertically */
}

/* Input field styles */
.configuration-page-box-input {
  margin: 20px 0 12px; /* Spacing for inputs */
  width: calc(50% - 20px); /* Set width, adjusting for margins */
}

.configuration-page-box-input-title {
  color: black; /* Title color */
  position: relative; /* For positioning child elements */
}

/* Input element styling */
.configuration-page-box-input input {
  height: 45px; /* Fixed height */
  width: 100%; /* Full width */
  color: black; /* Input text color */
  padding: 15px; /* Inner padding for inputs */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Font weight */
}

/* Icon styling within input fields */
.configuration-page-box-input span i {
  color: black; /* Icon color */
  margin-left: 10px; /* Space between title and icon */
  font-size: 18px; /* Icon size */
}

.configuration-page-box-input span i:hover {
  cursor: pointer; /* Change cursor on hover */
}

/* Submit button container */
.configuration-page-box-submit {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center the button */
  width: 10%;
}

/* Submit button styling */
.configuration-page-box-input-button {
  margin-top: 10px; /* Space above the button */
  background: #140202; /* Button background color */
  color: #fff; /* Button text color */
  font-size: 17px; /* Button text size */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 25px; /* Padding for button */
  cursor: pointer; /* Change cursor on hover */
}
